Oculus.Interaction.InterfaceSupport.csproj filter=lfs diff=lfs merge=lfs -text
Oculus.VR.Scripts.Editor.csproj filter=lfs diff=lfs merge=lfs -text
PPv2URPConverters.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Burst.Editor.Tests.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Timeline.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Mathematics.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.HighDefinition.Config.Runtime.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Services.Core.Scheduler.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Management.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Oculus.Player.csproj filter=lfs diff=lfs merge=lfs -text
VoiceSDK.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
Assembly-CSharp.Player.csproj filter=lfs diff=lfs merge=lfs -text
Assets filter=lfs diff=lfs merge=lfs -text
Unity.Services.Core.Player.csproj filter=lfs diff=lfs merge=lfs -text
UnityEditor.UI.csproj filter=lfs diff=lfs merge=lfs -text
Facebook.Wit.Conduit.Player.csproj filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
SeparateAssembly.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Burst.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.Core.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.Flow.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.State.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Mathematics.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipeline.Universal.ShaderLibrary.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.HighDefinition.Runtime.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualEffectGraph.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.State.csproj filter=lfs diff=lfs merge=lfs -text
VoiceSDK.Dictation.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
Oculus.Voice.Demo.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Animation.Rigging.csproj filter=lfs diff=lfs merge=lfs -text
Unity.ShaderGraph.Editor.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.UI.csproj filter=lfs diff=lfs merge=lfs -text
Oculus.Interaction.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Universal.Shaders.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Services.Core.Device.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Services.Core.Internal.Player.csproj filter=lfs diff=lfs merge=lfs -text
LGVRTest.sln filter=lfs diff=lfs merge=lfs -text
Oculus.Interaction.Samples.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.CollabProxy.EditorTests.Player.csproj filter=lfs diff=lfs merge=lfs -text
Assembly-CSharp.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.HighDefinition.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.TextMeshPro.Tests.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.SettingsProvider.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Oculus.AudioManager.Player.csproj filter=lfs diff=lfs merge=lfs -text
Oculus.Spatializer.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Oculus.Voice.Demo.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Universal.Shaders.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Services.Core.Configuration.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Services.Core.Scheduler.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Subsystem.Registration.csproj filter=lfs diff=lfs merge=lfs -text
Unity.TextMeshPro.Editor.Tests.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Timeline.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.State.Player.csproj filter=lfs diff=lfs merge=lfs -text
UnityEditor.TestRunner.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.TestRunner.csproj filter=lfs diff=lfs merge=lfs -text
Oculus.LipSync.Editor.csproj filter=lfs diff=lfs merge=lfs -text
ProjectSettings filter=lfs diff=lfs merge=lfs -text
Unity.Burst.Tests.UnitTests.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.PlasticSCM.EditorTests.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Core.ShaderLibrary.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Universal.Editor.Tests.Player.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.SpatialTracking.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.HighDefinition.Runtime.Tests.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Services.Core.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Management.Tests.Player.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.SpatialTracking.csproj filter=lfs diff=lfs merge=lfs -text
VoiceSDK.Dictation.Editor.csproj filter=lfs diff=lfs merge=lfs -text
VoiceSDK.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Assembly-CSharp-Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Animation.Rigging.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Universal.Runtime.Tests.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Management.Tests.Standalone.Player.csproj filter=lfs diff=lfs merge=lfs -text
UnityEditor.SpatialTracking.csproj filter=lfs diff=lfs merge=lfs -text
DocCodeExamples.Player.csproj filter=lfs diff=lfs merge=lfs -text
Facebook.Wit.Dictation.csproj filter=lfs diff=lfs merge=lfs -text
Facebook.Wit.TTS.Samples.csproj filter=lfs diff=lfs merge=lfs -text
Library filter=lfs diff=lfs merge=lfs -text
Oculus.VR.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Core.Editor.Tests.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.HighDefinition.Editor.Tests.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Searcher.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Subsystem.Registration.Runtime.Tests.Player.csproj filter=lfs diff=lfs merge=lfs -text
AssistantCoreSDKRuntime.Player.csproj filter=lfs diff=lfs merge=lfs -text
Oculus.AudioManager.csproj filter=lfs diff=lfs merge=lfs -text
Oculus.LipSync.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Core.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Services.Core.Configuration.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualStudio.Editor.csproj filter=lfs diff=lfs merge=lfs -text
UnityEditor.UI.EditorTests.Player.csproj filter=lfs diff=lfs merge=lfs -text
Packages filter=lfs diff=lfs merge=lfs -text
Unity.Services.Core.Registration.csproj filter=lfs diff=lfs merge=lfs -text
Unity.TextMeshPro.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualEffectGraph.Runtime.Player.csproj filter=lfs diff=lfs merge=lfs -text
Oculus.AudioManager.Utils.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Oculus.Interaction.Samples.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Universal.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.Flow.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.Shared.Editor.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.XR.LegacyInputHelpers.csproj filter=lfs diff=lfs merge=lfs -text
Assembly-CSharp-firstpass.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Mathematics.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipeline.Universal.ShaderLibrary.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Core.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Universal.Runtime.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Searcher.EditorTests.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Services.Core.Environments.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Management.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Oculus.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Oculus.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.TestSupport.Player.csproj filter=lfs diff=lfs merge=lfs -text
UnityEditor.XR.LegacyInputHelpers.Tests.Player.csproj filter=lfs diff=lfs merge=lfs -text
Assembly-CSharp-Editor-firstpass.csproj filter=lfs diff=lfs merge=lfs -text
Facebook.Wit.Conduit.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Burst.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.HighDefinitionConfig.Editor.Tests.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Services.Core.Analytics.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Services.Core.Device.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Services.Core.Threading.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.TextMeshPro.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Management.TestPackage.Editor.Player.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.SpatialTracking.Tests.Player.csproj filter=lfs diff=lfs merge=lfs -text
Facebook.Wit.TTS.Editor.csproj filter=lfs diff=lfs merge=lfs -text
LitJson.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Burst.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.HighDefinition.Config.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Services.Core.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.Core.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.PlasticSCM.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Services.Core.Telemetry.Player.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.UI.Tests.Player.csproj filter=lfs diff=lfs merge=lfs -text
Logs filter=lfs diff=lfs merge=lfs -text
Unity.Services.Core.Environments.Internal.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Services.Core.Networking.csproj filter=lfs diff=lfs merge=lfs -text
Unity.ShaderGraph.Utilities.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.UI.Player.csproj filter=lfs diff=lfs merge=lfs -text
VoiceSDK.Runtime.Player.csproj filter=lfs diff=lfs merge=lfs -text
AssistantCoreSDKRuntime.csproj filter=lfs diff=lfs merge=lfs -text
Facebook.Wit.Conduit.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Facebook.Wit.TTS.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Services.Core.Environments.Player.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.XR.LegacyInputHelpers.Player.csproj filter=lfs diff=lfs merge=lfs -text
Oculus.Interaction.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Burst.CodeGen.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VSCode.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualEffectGraph.Runtime.Tests.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.Core.csproj filter=lfs diff=lfs merge=lfs -text
Facebook.WitAI.Player.csproj filter=lfs diff=lfs merge=lfs -text
Facebook.WitAI.csproj filter=lfs diff=lfs merge=lfs -text
Oculus.LipSync.Player.csproj filter=lfs diff=lfs merge=lfs -text
Oculus.Platform.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.HighDefinition.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
UnityEditor.XR.LegacyInputHelpers.csproj filter=lfs diff=lfs merge=lfs -text
AssistantCoreSDKEditor.csproj filter=lfs diff=lfs merge=lfs -text
Facebook.Wit.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Oculus.Interaction.Samples.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Services.Core.Networking.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.TextMeshPro.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualScripting.Flow.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Management.TestPackage.Player.csproj filter=lfs diff=lfs merge=lfs -text
UserSettings filter=lfs diff=lfs merge=lfs -text
Facebook.Wit.TTS.Samples.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Services.Core.Telemetry.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Services.Core.Threading.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.TestRunner.Player.csproj filter=lfs diff=lfs merge=lfs -text
Facebook.Wit.Dictation.Player.csproj filter=lfs diff=lfs merge=lfs -text
Oculus.Interaction.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Oculus.Platform.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Universal.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Services.Core.Environments.Internal.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Animation.Rigging.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.CollabProxy.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Services.Core.Analytics.csproj filter=lfs diff=lfs merge=lfs -text
Unity.ShaderGraph.Editor.Tests.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualEffectGraph.Editor.Tests.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Management.EditorTests.Player.csproj filter=lfs diff=lfs merge=lfs -text
VoiceSDK.Dictation.Runtime.Player.csproj filter=lfs diff=lfs merge=lfs -text
LitJson.Player.csproj filter=lfs diff=lfs merge=lfs -text
Oculus.VR.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Core.Runtime.Tests.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Timeline.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.XR.Management.Editor.csproj filter=lfs diff=lfs merge=lfs -text
obj filter=lfs diff=lfs merge=lfs -text
Assembly-CSharp-firstpass.Player.csproj filter=lfs diff=lfs merge=lfs -text
Oculus.Platform.csproj filter=lfs diff=lfs merge=lfs -text
Oculus.Spatializer.Player.csproj filter=lfs diff=lfs merge=lfs -text
Oculus.Spatializer.csproj filter=lfs diff=lfs merge=lfs -text
Oculus.VR.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Mathematics.Tests.Player.csproj filter=lfs diff=lfs merge=lfs -text
Facebook.Wit.Dictation.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Facebook.Wit.TTS.csproj filter=lfs diff=lfs merge=lfs -text
LGVRTest.sln.DotSettings.user filter=lfs diff=lfs merge=lfs -text
Oculus.AudioManager.Audio.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Core.Runtime.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.RenderPipelines.Core.ShaderLibrary.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Rider.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Services.Core.Configuration.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Services.Core.Internal.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Services.Core.Registration.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Subsystem.Registration.Player.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VisualEffectGraph.Editor.csproj filter=lfs diff=lfs merge=lfs -text
